html{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    background-color: #202632;
    cursor: pointer;
}
header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.h1{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #977294;
    font-family: 'Times New Roman', Times, serif;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: right;
    color: #977294;
}
.link li{
    display: inline;
    padding: 1rem 1.5rem;
    transition: var(--transiton);
}
.link li:hover{
    background-color: var(--blue100);
    color: var(--white);
    letter-spacing: 0.1rem;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 16px;
}
.image{
    max-width: 30%;
    max-height: 30%;
    padding: 15px;
    border-radius: 20 round;
   
}
.text{
    font-size: 20px;
    padding-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #977294;
    text-wrap: wrap;
    animation-duration: 5s;
}
.text :before{
    content: '';
    position: absolute;
    right: 130%;
    width: 130%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%);
    animation: text 5s liner backwards;
}
@keyframes text{
    from{
        right:130%;
    }
    to{
        right: -20%;
    }
}
